@font-face {
    font-family: 'Poppins';
    font-style: normal;
    src: url('../assets/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Italic';
    font-style: italic;
    src: url('../assets/fonts/poppins/Poppins-Italic.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    font-style: normal;
    src: url('../assets/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    font-style: normal;
    src: url('../assets/fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    font-style: normal;
    src: url('../assets/fonts/poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-Light';
    font-style: normal;
    src: url('../assets/fonts/poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    font-style: normal;
    src: url('../assets/fonts/poppins/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    font-style: normal;
    src: url('../assets/fonts/poppins/Poppins-Medium.ttf');
}